.bgbody{
    background-color: #bfb6f2;
}

.container{
    margin-left: 20px;
}

.nav-item{
    margin-left: 20px;
    padding-left: 50px;
}

.carousel{
    margin-bottom: 100px;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

.flex-container > div {
    background-color: white;
    color: black;
    width: 400px;
    margin: 10px;
    margin-bottom: 100px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

.footer-title {
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
}


.footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 50pt;
    
}

.form-control{
    background-color:white;
    color: white;
    text-align: center;
    width: 300px;
    height: 50px;
    margin: auto;
}

.footer-bottom {
    background-color: white;
    text-align: center;
    height: 50px;
    padding: 50px;
}







