.bgbody{
    background-color: #bfb6f2;
}

.container{
    margin-left: 20px;
}

.nav-item{
    margin-left: 20px;
    padding-left: 50px;
}

.carousel{
    margin-top: 50px;
    margin-bottom: 100px
}

.row{

}

.column-left {


}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

.footer-title {
    background-color: white;
}



.footer {
    margin-left: 30px;
    font-size: 50pt
}







