.bgbody{
    background-color: #bfb6f2;
}

.nav-link{
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
}
.nav-item{
    margin-left: 20px;
    padding-left: 50px;
}


.img {
    width: 100%;
    height: auto;
}

.footer-title {
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px;
    margin-bottom: 50px;
    font-size: 50pt;
    font-family: "Bebas Neue", sans-serif;
}

.form-control{
    background-color:white;
    color: white;
    text-align: center;
    width: 300px;
    height: 50px;
    margin: auto;
}

.title-3{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 530px;
    margin-right: 530px;
    margin-bottom: 100px;
    padding: 20px;
    font-family: "Comic Neue", cursive;
    font-size: large;
    font-weight: 700;
    font-style: normal;
}

.footer-bottom {
    background-color: white;
    text-align: center;
    height: 50px;
    padding: 50px;
}
